{% extends "layout.html" %} {% block title %} homepage {% endblock %} {% block main %}
<h1>Confirmation</h1>
<div id="login-form">
    <img src="../../static/images/skool.jpg" alt="school-image">

    <form action="{{url_for('skool.confirm')}}" method="post" class="card">
        <h3>Confirm details</h3>
        <div class="form-group">
            <p>Make payment for</p>
        </div>
        <button class="btn btn-primary" type="submit">Confirm</button>
    </form>
</div>
<div class="small text-center text-muted">
    <h6><a href="#" target="blank">Terms and Conditions</a> <a href="#" target="blank">Privacy Policy</a></h6>
</div>
{% endblock %}

