{% extends "layout.html" %} {% block title %} homepage {% endblock %} {% block main %}
<h4>Confirm student information</h4>
    <div class="form-group">
        <lable>School Name: {{school}}</lable><br>
        <lable>Student Name: {{student.firstname}} {{student.lastname}}</lable>
    </div>
<div id="login-form">
    <form action="{{url_for('skoolpay.confirmed')}}" method="post" class="">
        <div>
            <label for="amount" class="confirm-text" >Enter amount:</label>
            <input type="number" autofocus name="amount" placeholder="1000"><span></span>
            <label for="mobile" class="confirm-text" >Enter momo number:</label>
            <input type="text" name="mobile" placeholder="">
            <input class="btn-primary" type="submit" value="Confirm">
        </div>
        
    </form>
</div>
<div class="small text-center text-muted">
    <h6><a href="#" target="blank">Terms and Conditions</a> <a href="#" target="blank">Privacy Policy</a></h6>
</div>
{% endblock %}

