{% extends "layout.html" %} {% block title %} Payments {% endblock %} {% block main %}
<h4>{{school}} Payments</h4>
<input type="text" id="myInput" onkeyup="searchStudent()" placeholder="Search for student..">
<table style="width:100%" id="myTable">
    <tr class="header">
        <th scope="col">#</th>
        <th scope="col" style="width:40%;">Names</th>
        <th scope="col" style="width:40%;">Date</th>
        <th scope="col" style="width:40%;">Paid</th>
        <th scope="col" style="width:40%;">Account paid from</th>
    </tr>
    {% for student in data %}
    <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{student[2]}} {{student[3]}}</td>
        <td >{{student[4].strftime("%d %b %Y, %H:%M:%S")}}</td>
        <td>{{student[5]}}</td>
        <td>{{student[8]}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}