{% import 'admin/layout.html' as layout with context -%}
{% extends 'admin/base.html' %}

{% block head_tail %}
{{ super() }}
<link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet">
{% endblock %}

{% block page_body %}
{% if current_user.is_authenticated %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" role="navigation">
      <ul class="nav nav-pills nav-stacked">
        {{ layout.menu() }}
        {{ layout.menu_links() }}
      </ul>
    </div>
    <div class="col-md-10">
      <div id="content" class="row">
        {% block brand %}
        {% endblock %}
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-user"></i> {{ current_user.login }} <span class="caret"></span>
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="btn" href="{{ url_for('admin.logout_view') }}">Log out</a>
          </div>
        </div>
        {% else %}
        <h>Lipila administration</h>

        {% endif %}
        {{ layout.messages() }}

        {% set render_ctx = h.resolve_ctx() %}

        {% block body %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}