{% extends "layout.html" %} {% block title %} Features {% endblock %} {% block main %}
<img src="{{url_for('static', filename='images/lipila.png')}}" alt="lipila-logo">
<h2>Online School Fees Payment</h2>
<p>School Fee Management is always a time-consuming project, but one that certainly cannot be ignored. 
    You have to keep track of numerous types of school fees and then apply them to the correct students, 
    manage incoming payments and receipts, and making bills and sending notices when bills are due. 
    Lipila can help you streamline the whole process of school fees collection so that it doesn’t get out
     of control, or consume more time than necessary.
</p>
<p>
    Lipila provides a very simple way to charge school fees, manage payments, print and save receipts, and 
    even a way to deliver payment notices online. All billing and payment information is stored in the 
    student’s file, so all information is kept together in one place. Itemized charges, both past and 
    upcoming, are easy to view and reference. Standard school charges can be set up once and then applied
     as necessary keeping billing consistant and reducing billing errors.
</p>
<p>
    Online school billing enables your school to accept mobile money and credit card payments. 
    Parents and Students can view their school bills online through the Parent/Student Portal
      and pay at home or office with their mobile or credit card. Lipila takes care of processing the payment
       and posting approved payments to your school's administration and parent accounts. Your school doesn’t
        have to do anything. It doesn’t get better than that!
</p>
<h2> Family Billing</h2>
<p>
    When you have two or more students enrolled at your school from one family, you can use the Family 
    Billing feature. This is a great feature that enables you to
    view and bill a family on a single invoice.
</p>
<h2>Standard Charges & Fees</h2>
<p>
    When you have a charge that you use frequently, like monthly tuition fees, you can set up a template
    defining the fee. When you need to apply that charge, you can apply it to a group of students all at
    once, or you can apply fees one student at a time. It saves administration time because there is no
    longer a need to look up each fee and then apply it to every student in the school one at a time.
    It also reduces errors because the fee is charged equally to all students every time it is applied.
</p>
{% endblock %}

