{% extends "frontend_layout.html" %} {% block title %} Transactions {% endblock %} {% block main %}
<h4>{{session['school']}} Students</h4>
<input type="text" id="myInput" onkeyup="searchStudent()" placeholder="Search for student..">
<table style="width:100%" id="myTable">
    <tr class="header">
        <th scope="col">#</th>
        <th scope="col">Names</th>
        <th scope="col">Date created</th>
        <th scope="col">Payment code</th>
        <th scope="col">Program</th>
        <th scope="col">tuition</th>
    </tr>
    {% for student in students %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{student[2]}} {{student[3]}}</td>
            <td>{{student[4].strftime("%d %b %Y, %H:%M:%S")}}</td>
            <td>{{student[1]}}</td>
            <td>{{student[6]}}</td>
            <td>{{student[7]}}</td>
            <td><a href="{{url_for('admin.update', id=student[0])}}">Edit</a></td>
        </tr>
{% endfor %}
</table>

{% endblock %}