{% extends "layout.html" %} {% block title %} Update {% endblock %} {% block main %}
<h3>Update {{student[2]}} {{student[3]}}'s details</h3>
<form action="{{ url_for('admin.update', id=student[0])}}" method="post" class="card" class="form-group">
    <div class="form-group">
        <input name="firstname" id="firstname" placeholder="Firstname"
                value="{{request.form['firstname'] or student[2]}}">
        <input name="lastname" id="lastname" placeholder="Lastname"
                value="{{request.form['lastname'] or student[3]}}">
        <input name="program" id="program" placeholder="Program"
                value="{{request.form['program'] or student[6]}}">
        <input name="tuition" id="tuition" placeholder="Tuition"
                value="{{request.form['tuition'] or student[7]}}">
        <input type="submit" class=" btn btn-primary" value="Update">
    </div>
</form>
<hr>
  <form action="{{ url_for('admin.delete', id=student[0]) }}" method="post" >
    <input class="danger btn btn-primary" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete student?');">
  </form>

{% endblock %}