[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-mail = "*"
pytest = "*"
reportlab = "*"
requests = "*"
pillow = "*"
flask = "*"
psycopg2 = "*"
wheel = "*"
gunicorn = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
