{% extends "layout.html" %} {% block title %} Confirmation{% endblock %} {% block main %}
<h1>Confirm</h1>
<div class="form-group">
    <lable>firstname: {{data['fname']}}</lable><br>
    <lable>lastname: {{data['lname']}}</lable><br>
    <lable>school: {{data['school']}}</lable><br>
    <lable>account: {{data['account']}}</lable><br>
    <lable>amount: {{data['amount']}}</lable><br>
</div>
<div id="login-form">
        <form action="{{url_for('skoolpay.payment')}}" method="post">
            <input type="submit" value="Submit">
        </form>
</div>
<div class="small text-center text-muted">
    <h6><a href="#" target="blank">Terms and Conditions</a> <a href="#" target="blank">Privacy Policy</a></h6>
</div>
{% endblock %}
