{% extends "layout.html" %} {% block title %} History {% endblock %} {% block main %}
<h4>{{school}} Payments</h4>
<table style="width:100%" id="myTable">
    <tr class="header">
        <th scope="col" style="width:40%;">#</th>
        <th scope="col" style="width:40%;">Date</th>
        <th scope="col" style="width:40%;">Paid</th>
        <th scope="col" style="width:40%;">Account number</th>
        <!-- <th>Actions</th> -->
    </tr>
    {% for student in data %}
    <form action="/lipila/download/{{student.id}}" class="form-group">
        <tr>
            <input type="hidden", name="receipt" value={{student.id}}>
            <th scope="">{{loop.index}}</th>
            <td>{{student.created}}</td>
            <td>{{student.amount}}</td>
            <td>{{student.account_number}}</td>
            <!-- <td><input type="submit" value="download receipt"> -->
        </tr>
    </form>
    {% endfor %}
</table>

{% endblock %}