{% extends "layout.html" %} {% block title %} History {% endblock %} {% block main %}
<h4>{{school}} Payments</h4>
<table style="width:100%" id="myTable">
    <tr class="header">
        <th scope="col" style="width:40%;">#</th>
        <th scope="col" style="width:40%;">Date</th>
        <th scope="col" style="width:40%;">Paid</th>
        <th scope="col" style="width:40%;">Account number</th>
        <!-- <th>Actions</th> -->
    </tr>
    {% for student in data %}
    <form action="/lipila/download/{{student[0]}}" class="form-group">
        <tr>
            <input type="hidden", name="receipt" value={{student.id}}>
            <th scope="">{{loop.index}}</th>
            <td>{{student[4].strftime("%d %b %Y, %H:%M:%S")}}</td>
            <td>{{student[5]}}</td>
            <td>{{student[6]}}</td>
            <td><input type="submit" value="download receipt">
        </tr>
    </form>
    {% endfor %}
</table>

{% endblock %}