{% extends "layout.html" %} {% block title %} Confirmation{% endblock %} {% block main %}
<h4>Confirm details</h4>
<div class="form-group">
    <lable>School: {{session['school']}}</lable><br>
    <lable> {{session['net'].upper()}} MoMo Account Number: {{session['account']}} </lable><br>
    <lable>Student: {{session['student']}}</lable><br>
    <lable>Amount: {{session['amount']}}</lable><br>
</div>
<div id="login-form">
        <form action="{{url_for('lipila.payment')}}" method="post" class="card">
          <button class="">Complete Payment<span class="spinner"></span></button>
        </form>
</div>

<div class="small text-center text-muted">
    <h6><a href="#" target="blank">Terms and Conditions</a> <a href="#" target="blank">Privacy Policy</a></h6>
</div>
{% endblock %}
