{% extends "frontend_layout.html" %} {% block title %} Payment {% endblock %} {% block main %}
<h4>Confirm student information</h4>
    <div class="form-group">
        <lable>School Name: {{school[0]}}</lable><br>
        <lable>Student Name: {{student[2]}} {{student[3]}}</lable>
    </div>
<div id="login-form">
    <form action="{{url_for('lipila.confirmed')}}" method="post" class="">
        <div>
            <label for="amount" class="confirm-text" >Enter amount:</label>
            <input type="number" autofocus name="amount" placeholder="1000" required>
            <label for="mobile" class="confirm-text" >Enter momo number:</label>
            <input type="text" name="mobile" placeholder="" required>
            <input type="submit" class="btn-primary" value="Confirm"><span class="spinner"></span>
        </div>
        
    </form>
</div>
{% endblock %}

