{% extends "frontend_layout.html" %} {% block title %} Confirmation{% endblock %} {% block main %}
<h4>Confirm details</h4>
<div class="form-group">
    <lable>School: {{session['school']}}</lable><br>
    <lable> {{session['net'].upper()}} MoMo Account Number: {{session['account']}} </lable><br>
    <lable>Student: {{session['student']}}</lable><br>
    <lable>Amount: {{session['amount']}}</lable><br>
</div>
<div id="load"></div>
<div id="login-form">
        <form action="{{url_for('lipila.payment')}}" method="post" class="card">
          <button class="">Complete Payment<span class="spinner"></span></button>
        </form>
</div>

{% endblock %}
