{% extends "layout.html" %}

{% block title %}
    Shares summary
{% endblock %}

{% block main %}
<h1>Transaction History</h1>
   <table id="headers">

            <tr>
                <th>Stock Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date of Transaction</th>
            </tr>
            {% for data in stocks %}
                <tr>
                    <td>{{ data['stock'].upper() }}</td>
                    <td>{{ data['shares']}}</td>
                    <td>{{ data['price'] }}</td>
                    <td>{{ data['date'] }}</td>
                </tr>
            {% endfor %}

        </table>
        </main>
{% endblock %}
