{% extends "layout.html" %} {% block title %} add student {% endblock %} {% block main %}
<h3>Add New Student</h3>
<form action="{{url_for('admin.create_student')}}" method="post" class="card" class="form-group">
    <div class="form-group">
        <input type='text' name="firstname" id="fn" placeholder="first name">
        <input type='text' name="lastname" id="ln" placeholder="lastname">
        <input type='text' name="program" id="pf" placeholder="course">
        <input type='number' name="tuition" id="tn" placeholder="tuition fee">
        <input type="submit" class=" btn btn-primary" value="Add">
    </div>
</form>

{% endblock %}