{% extends "layout.html" %} {% block title %} Payments {% endblock %} {% block main %}
<h4>{{school}} Payments</h4>
<table style="width:100%" id="myTable">
    <tr class="header">
        <th scope="col">#</th>
        <th scope="col" style="width:40%;">Received</th>
        <th scope="col" style="width:40%;">Student Code</th>
        <th scope="col" style="width:40%;">Paid</th>
        <th scope="col" style="width:40%;">Paid from</th>
    </tr>
    {% for student in data %}
    <tr>
        <th scope="row">{{loop.index}}</th>
        <td >{{student.created}}</td>
        <td>{{student.student_id}}</td>
        <td>{{student.amount}}</td>
        <td>{{student.account_number}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}