{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block main %}
<h1>Sign in to your SkooPay</h1>
<div id="login-form">
    <img src="../../static/images/skool.jpg" alt="school-image">

    <!-- <form action="{{url_for('auth.login', users='users')}}" method="post" class="card">
        <h3>Parent Login</h3>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form> -->
    <form action="{{url_for('auth.login', users='schools')}}" method="post" class="card">
        <h3>School Login</h3>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="schoolname" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="schoolpassword" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
</div>
{% endblock %}