nav li {
    color: black;
    font-size: large;
    font-weight: bold;
}

nav .navbar-brand {
    /* size for brand */
    font-size: xx-large;
}


/* colors for brand */

nav .navbar-brand .blue {
    color: #537fbe;
}

nav .navbar-brand .red {
    color: #ea433b;
    font-weight: bold;
}

nav .navbar-brand .yellow {
    color: #f5b82e;
}

nav .navbar-brand .green {
    color: #2e944b;
}

main .form-control {
    /* center form controls */
    display: inline-block;
    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main {
    background-color: #69af7f;
    /* scroll horizontally as needed */
    overflow-x: auto;
    /* center contents */
    text-align: center;
}

main img {
    /* constrain images on small screens */
    max-width: 100%;
}

table {
    width: 100%;
}

tr:hover {
    background-color: #daf7a6;
}

#headers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#headers td,
#headers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#headers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#headers tr:hover {
    background-color: #ddd;
}

#headers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#terms {
    line-height: 0.3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    max-width: 1200px;
    max-height: 800px;
}

#head li {
    padding-bottom: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#deal {
    position: fixed;
    left: 90px;
    top: 420px;
}

#login-form {
    display: flex;
}

#login-form img {
    margin: 10px 50px;
}

.card {
    text-align: center;
    background-color: rgb(219, 218, 218);
    margin: auto;
}