{% extends "layout.html" %} {% block title %} homepage {% endblock %} {% block main %}
<h1>Welcome to SkooPay</h1>
<div class="scroll-left">
    <h5>No more spending hours in bank Queues, Send your child's payment faster, Receive students fees quicker</h5>
</div>
<h4>If you do not have an account <a href="{{url_for(auth.register, user='user')}}">parents register here</a>
    </br><a href="{{url_for(auth.register, user='schools')}}">for schools register here</a></h4>
<div id="login-form">
    <img src="../../static/images/skool.jpg" alt="school-image">

    <form action="/login" method="post" class="card">
        <h3>Parent Login</h3>
        <input value="payments" name="user" type="hidden">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <form action="/login" method="post" class="card">
        <h3>School Login</h3>
        <input value="schools" name="user" type="hidden">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="schoolname" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="schoolpassword" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
</div>
<div class="small text-center text-muted">
    <h6><a href="#" target="blank">Terms and Conditions</a> <a href="#" target="blank">Privacy Policy</a></h6>
</div>
{% endblock %}