{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h1>Sell Shares</h1>
    <form action="/sell" method="post">
       <div class="form-group">
                <select name="stock">
                    {% for stock in stocks %}
                        <option value="{{ stock['stock'] }}">{{ stock['stock'].upper()}}</option>
                    {% endfor %}
                </select>
            </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" min="1" name="shares" placeholder="Shares to sell" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
