{% extends "frontend_layout.html" %} {% block title %} Reset {% endblock %} {% block main %} 
<div id="login-form">
    <h3 style="color: black;">Reset your password</h3>
    <form action="{{url_for('admin.reset_password')}}" method="post" class="card">
        <div id="load"></div>
        <div class="form-group">
            <input autocomplete="off" class="form-group" required autofocus name="password" placeholder="password" type="password">
        </div>
        <button class="btn-primary">Reset<span class="spinner"></span></button>
    </form>
</div>
{% endblock %}