<!DOCTYPE html>
<html>
<meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- laytout css -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='spinner.css') }}" rel="stylesheet">

    <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

  <!-- edn layout -->

  <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
  <link href="{{url_for('static', filename='favicon.ico')}}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.g'static'.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='admin/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='admin/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='admin/assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='admin/assets/vendor/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='admin/assets/vendor/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='admin/assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='admin/assets/vendor/simple-datatables/style.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='admin/assets/css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a class="navbar-brand" href="{{url_for('landing')}}"><span class="blue">L</span><span class="red">i</span><span class="yellow">p</span><span class="yellow">i</span><span class="green">la</span> <span class="red">HOME</span></a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{session['school'].upper()}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Institution</h6>
              <span>{{session['school'].upper()}}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{url_for('admin.profile')}}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{url_for('admin.profile')}}">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{url_for('site_admin.contact')}}">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{url_for('auth.logout')}}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{{url_for('admin.dashboard')}}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{url_for('admin.create_student')}}">
              <i class="bi bi-circle"></i><span>Add Student</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('admin.show_students')}}">
              <i class="bi bi-circle"></i><span>View Students</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('admin.show_payments')}}">
              <i class="bi bi-circle"></i><span>View Payments</span>
            </a>
          </li>
      </li><!-- End Components Nav -->
 

      <li class="nav-heading">Links</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('admin.profile')}}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('site_admin.faqs')}}">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('site_admin.contact')}}">
          <i class="bi bi-envelope"></i>
          <span>Contact Developer</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('auth.logout')}}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Login Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1 style="color: aliceblue;">Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
{% block section%}{% endblock%}
    <section class="section dashboard">
      <div class="row">
        {% block lColumns%}
        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Payments Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <a class="dropdown-item" href="{{url_for('admin.dashboard', filter='today')}}">
                  <h5 class="card-title">Today <span>| Payments</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cash-coin"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{payments['day']}}</h6>
                      <span class="text-success small pt-1 fw-bold">{{total['day']}}</span> <span class="text-muted small pt-2 ps-1">ZMW</span>

                    </div>
                  </div>
                  </a>
          
                </div>
              

              </div>
            </div><!-- End Payments Card -->

            <!-- Payments Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                
                  <h5 class="card-title">This Week <span>| Payments</span></h5>
                  <a class="dropdown-item" href="{{url_for('admin.dashboard', filter='week')}}">
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cash-coin"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{payments['week']}}</h6>
                      <span class="text-success small pt-1 fw-bold">{{total['week']}}</span> <span class="text-muted small pt-2 ps-1">ZWM</span>

                    </div>
                  </div>
                  </a>
                </div>

              </div>
            </div><!-- End Payments Card -->

            <!-- Payments Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <a class="dropdown-item" href="{{url_for('admin.dashboard', filter='month')}}">
                  <h5 class="card-title">This Month <span>| Payments</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cash-coin"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{payments['month']}}</h6>
                      <span class="text-success small pt-1 fw-bold">{{total['month']}}</span> <span class="text-muted small pt-2 ps-1">ZMW</span>

                    </div>
                  </div>
                  </a>
                </div>

              </div>
            </div><!-- End Payments Card -->
            <!-- Payments Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                
                <div class="card-body">
                  <a class="dropdown-item" href="{{url_for('admin.dashboard', filter='all')}}">
                  <h5 class="card-title">This year <span>| Payments</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cash-coin"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{payments['year']}}</h6>
                      <span class="text-success small pt-1 fw-bold">{{total['year']}}</span> <span class="text-muted small pt-2 ps-1">ZMW</span>

                    </div>
                  </div>
                  </a>
                </div>

              </div>
            </div><!-- End Payments Card -->

            </div><!-- End Customers Card -->
            <hr>
            {% block Rsales%}
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>
                    <li><a class="dropdown-item" href="{{url_for('admin.dashboard', filter='all')}}">Show all</a></li>
                    <li><a class="dropdown-item" href="{{url_for('admin.dashboard', filter='today')}}">Today</a></li>
                    <li><a class="dropdown-item" href="{{url_for('admin.dashboard', filter='week')}}">This Week</a></li>
                    <li><a class="dropdown-item" href="{{url_for('admin.dashboard', filter='month')}}">This Month</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">{{filter}} Payments Summary <span></span></h5>
                  <input type="text" id="myInput" onkeyup="searchStudent()" placeholder="Search for student..">
                  <table class="table table-borderless datatable" id="myTable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Student</th>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    {% for pay in data%}
                    <tbody>
                      <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{pay[2]}} {{pay[3]}}</td>
                        <td >{{pay[4].strftime("%d %b %Y, %H:%M:%S")}}</td>
                        <td>{{pay[5]}}</td>
                        <td><span class="badge bg-success">Approved</span></td>
                      </tr>
                    </tbody>
                    {% endfor %}
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->
            {% endblock %}
            {% block Tselling%}

            {% endblock %}
          </div>
        </div><!-- End Left side columns -->
        {% endblock%}

        {% block rightColumns %}
        <!-- Right side columns -->
        <div class="col-lg-4">

        </div><!-- End Right side columns -->
        {% endblock %}

      </div>
    </section>

  </main><!-- End #main -->
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='admin/assets/vendor/apexcharts/apexcharts.min.js')}}"></script>
  <script src="{{url_for('static', filename='admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='admin/assets/vendor/chart.js/chart.umd.js')}}"></script>
  <script src="{{url_for('static', filename='admin/assets/vendor/echarts/echarts.min.js')}}"></script>
  <script src="{{url_for('static', filename='admin/assets/vendor/quill/quill.min.js')}}"></script>
  <script src="{{url_for('static', filename='admin/assets/vendor/simple-datatables/simple-datatables.js')}}"></script>
  <script src="{{url_for('static', filename='admin/assets/vendor/tinymce/tinymce.min.js')}}"></script>
  <script src="{{url_for('static', filename='admin/assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='admin/assets/js/main.js')}}"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  </html>