{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block main %}
<h2>Are you a School, College or a Coaching Institute?
    Want to collect fees online from your students?</h2>
<div class="">
    <h5>Lipila is an Online Fees Collection System suitable for educational institutes of all sizes.<br>
        Lipila is a powerful combination of Fee Management Software + Online Payment Gateway <br>
        by which you can collect fees from your students online & manage everything like a Pro!</h5>
</div>
<h4><a href="{{ url_for('auth.register', user='School') }}">School register here</a>
    <div id="login-form">

        <form action="{{ url_for('auth.register', user='users') }}" method="post" class="card">
            <h3>Register</h3>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="text">
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="mobile" placeholder="0969662255" type="text">
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="firstname" placeholder="firstname" type="text">
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="lastname" placeholder="lastname" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Signup</button>
        </form>
    </div>
    {% endblock %}