{% extends "frontend_layout.html" %} {% block title %} Register {% endblock %} {% block main %}
<h2>Are you a School, College or a Coaching Institute?
    Want to collect fees online from your students?</h2>
<div class="">
    <h5>Create your School's FREE account and start receiving payments faster and securely like a Pro!<br></h5>
</div>
    <div id="login-form">
        <form action="{{ url_for('auth.register', user='School') }}" method="post" class="card">
            <h3>Register as:</h3>
            <select name="job" id="job" class="form-group">
                <option value="admin" class="form-control">Administrator</option>
                <option value="dir" class="form-control">Director</option>
                <option value="acct" class="form-control">Accountant</option>
                <option value="other" class="form-control">Other</option>
            </select>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="school" placeholder="School name" type="text">
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="reg_number" placeholder="School Registration number" type="text">
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="mobile" placeholder="06963225566" type="text">
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="firstname" placeholder="User firstname" type="text">
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="lastname" placeholder="User lastname" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Signup</button>
        </form>
    </div>
    {% endblock %}